<%- include("header");  -%>

    <h2>This the about page</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi fuga ullam impedit, corporis voluptatem veniam tenetur repellendus magnam sit dolores dolorum iste voluptate,Sapiente?</p>

    <%- include("footer");  -%>